<% layout('./Layouts/boilerplate') -%>


    <p>You selected a specific comment</p>
    <div>
        <h1 style="margin: 2px;">
            <%= moment.opinion %>
        </h1>
        <p>Opinion posted by
        </p>
        <h4>Username: <%= moment.username %>
        </h4>
        <p>ID: <%= moment._id %>
        </p>
        <a style="display: inline-block;" href="/euro/<%= moment._id %>/edit"> edit</a>
        <form method="POST" action="/euro/<%= moment._id %>?_method=DELETE">
            <button>Delete</button>
        </form>